
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

@using (Html.BeginForm())
{
    <input id="Username" name="Username" type="text" /><br/>
    <input name="Password" type="text" /><br />
    <input type="submit" value="送出" />

}